<section class="changePasswordView"><h2 class="titulo">CAMBIO DE CONTRASEÑA</h2>

  <form class="formEmailReq" action="/changepassword" method="post">
    {{#if gracias}}
      <label for="correo">{{gracias}}</label>
    {{else}}
      <label for="correo">Enviaremos un link a su casilla para cambiar la
        contraseña</label>
    {{/if}}
    <input
      type="email"
      placeholder="sucorreo@servidor.com.ar"
      name="correo"
      required
    />
    <button class="submitButton">Enviar</button></form>
  {{#if aviso}}
    <p>{{aviso}} ir a: <a href="{{link}}">LOGIN</a></p>
  {{else}}
  {{/if}}

</section>