<div class="header">
  <h2>PERFIL</h2></div>
<div class="datos">
  {{#if user}}
  <p>Usuario: {{user.first_name}} {{user.last_name}}</p>
  <p></p>
  <p>Correo: {{user.email}}</p>
  <a href="./api/users/documents">Cargar documentación</a>
  {{else}}
  <p>{{./error}}</p>
  {{/if}}
</div>
{{#if user}}
<form action="/api/sessions/logout" method="POST">
  <button class="cerrarSesion" type="submit">Cerrar Sesión</button>
</form>
{{else}}
<form action="/login" method="GET">
<button class="login">INICIAR SESION</button></form>
{{/if}}