
  <h2>PERFIL</h2>
<div class="datos">
  {{#if user}}
  <p>Usuario: {{user.first_name}} {{user.last_name}}</p>
  <p></p>
  <p>Correo: {{user.email}}</p>
  <p class="rol">{{user.rol}}</p>
  <a class="linkDocumentation" href="../../api/users/{{id}}/documents">Cargar documentación</a>
  {{else}}
  <p>{{./error}}</p>
  {{/if}}
</div>
{{#if user}}
<form action="/api/sessions/logout" method="POST">
  <a class="linkDocumentation" href="../../products">Volver</a>
  <button class="cerrarSesion" type="submit">Cerrar Sesión</button>
</form>
{{else}}
<form action="/login" method="GET">
<button class="login">INICIAR SESION</button></form>
{{/if}}